<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/icon.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include('../partials/nav_admin.ejs') %>
    <div class="container">
    <!-- Nav tab -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#Profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Transcripts">Transcripts</a>
        </li>
      </ul>
      <!-- Tab content -->
     <div class="tab-content">
       <!-- Tab profile -->
       <div id="Profile" class="container tab-pane active" >
        <h2 class="text-primary">Student's Profile</h2>
        <form action="/admin/student/edit/<%-student._id%>" method="POST" enctype="multipart/form-data">
          <!-- Picker image -->
          <div class="form-group">
            <label for="img">Avatar:</label>
            <input
              type="file"
              class="form-control-file"
              id="img"
              name="avatar"
            />
            <!-- Preview Image -->
            <div class="container d-flex justify-content-center">
              <img
                style="max-height: 250px; max-width: 100%; object-fit: contain;"
                id="showImage"
                class="border border-primary rounded-lg"
                src="/uploads/avatar/<%-student.img%>"
                alt="Image"
              />
            </div>
          </div>
          <!-- Student Name -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="email">Full Name:</label>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                placeholder="Enter name"
                name="name"
                value="<%-student.name%>"
                required
              />
            </div>
          </div>
          <!-- Student Phone Number -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="PhoneNumber">Phone:</label>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                pattern="^0\d*"
                placeholder="Enter Phone Number"
                name="phoneNumber"
                value="<%-student.phoneNumber%>"
                maxlength="11"
                minlength="10"
                required
              />
            </div>
          </div>
          <!-- Student Email -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="email">Email:</label>
            <div class="col-9">
              <input
                type="email"
                class="form-control"
                placeholder="Enter Email"
                name="email"
                value="<%-student.email%>"
                required
              />
            </div>
          </div>
          <!-- Student Password -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="pass">Password:</label>
            <div class="col-9">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
                name="password"
                value="<%-student.password%>"
                minlength="6"
                required
              />
            </div>
          </div>
          <!-- Student Sex -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="sex">Sex:</label>
            <div class="col-9">
              <select class="form-control" id="sex" name="sex">
                <% var options =["Male","Female"]; 
                options.forEach((item)=>{ 
                var selected = (item === student.sex) ? "selected" : ""; %>
                <option <%-selected%>> <%-item%> </option>
                <%});%>
              </select>
            </div>
          </div>
          <!-- Student Specialized -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="specialized"
              >Specialized:</label
            >
            <div class="col-9">
              <select class="form-control" id="specialized" name="specialized">
                <% 
                var options = ["Application Software","Mobile Developer","WebDeveloper"]; 
                options.forEach((item)=>{ 
                var selected = (item === student.specialized) ? "selected" : ""; %>
                <option <%-selected%> > <%-item%> </option>
                <%});%>
              </select>
            </div>
          </div>
          <!-- Student Class -->
          <div class="form-group row">
            <label class="col-2 col-form-label" for="class">Class:</label>
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                placeholder="Enter class"
                name="class"
                maxlength="8"
                value="<%-student.class%>"
                required
              />
            </div>
          </div>
          <!-- Date of birth -->
          <div class="form-group row">
            <label for="birthday" class="col-2 col-form-label">Birthday:</label>
            <div class="col-9">
              <input
                class="form-control"
                type="date"
                name="birthday"
                value="<%-student.birthday%>"
                required
              />
            </div>
          </div>
          <!-- Action for form -->
          <div
            class="row justify-content-center align-items-center"
            style="margin-top: 20px;margin-bottom: 10px;"
          >
            <button type="submit" class="btn btn-primary col-5">
              Update Information
            </button>
          </div>
        </form>
       </div>
       <!-- Tab transcripts -->
       <div id="Transcripts" class="container tab-pane fade"><br>
        <div class="row container">
          <h3 class="text-primary">Transcript</h3>
          <!-- Open modal -->
          <a href="#" data-toggle="modal" data-target="#addSubject">
            <span
              class="badge badge-pill badge-primary"
              style="background-color: white;"
              ><i style="color: blue;" class="fas fa-plus"></i></span
          ></a>
          <!-- Table transcript -->
          <table style="margin-top: 10px;" class="table table-bordered table-hover">
            <!-- Table header-->
            <thead class="thead-dark">
              <tr>
                <th>STT</th>
                <th>SUBJECT ID</th>
                <th>NAME</th>
                <th>CREDITS</th>
                <th>SCORES</th>
                <th>STATUS</th>
                <th>EDIT</th>
              </tr>
            </thead>
            <!-- Table body -->
            <tbody>
              <% transcript.forEach((item,index)=>{%>  
                <tr>
                  <td><%-(index+1)%></td>
                  <td><%-item.subject.subjectID%></td>
                  <td><%-item.subject.name%></td>
                  <td><%-item.subject.credits%></td>
                  <td><%-item.scores%></td>
                  <td><%-item.status%></td>
                  <td>
                    <a href="#" data-toggle="modal" class="btnEdit" data-target="#editSubject" index=<%-index%>
                      ><i style="color: red;" class="fas fa-edit"></i
                    ></a>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
     </div>
    </div>
     <!-- Modal add subject -->
     <div class="modal" id="addSubject">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">ADD SUBJECT</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <!-- Form Add Admin -->
            <form action="/admin/student/transcript/edit/<%-student.transcript%>?studentID=<%-student._id%>" method="POST">
              <!-- Select Subject -->
              <select class="form-control" id="subjects" name="subject">
                <option disabled selected value>
                  -- select the subject to add --
                </option>
                <% subjects.forEach((item,index)=>{%>
                <option value="<%-item._id%>"> <%-item.name%></option>
                <%}); %>
              </select>
              <!-- Scores -->
              <label for="scores">Scores:</label>
              <input
                type="number"
                class="form-control"
                placeholder="Enter Scores"
                step="0.1"
                max="10"
                min="0"
                name="scores"
                required
              />
              <!-- Status -->
              <label for="status">Status:</label>
              <select class="form-control" id="status" name="status">
                <option>Learning</option>
                <option>Passed</option>
                <option>Fail</option>
              </select>
              <!-- Action for form -->
              <div
                class="row justify-content-center align-items-center"
                style="margin-top: 20px;"
              >
                <button type="submit" class="btn btn-primary col-3">
                  Submit
                </button>
                <button
                  type="reset"
                  style="margin-left: 20px; margin-right: 20px;"
                  class="btn btn-primary col-3"
                >
                  Clear
                </button>
                <button
                  type="button"
                  class="btn btn-primary col-3"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal edit subject -->
    <div class="modal" id="editSubject">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">EDIT SUBJECT</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <!-- Form edit transcript -->
            <form action="#" id="formEdit" method="POST">
              <!-- Select Subject -->
              <label for="subject">Subject:</label>
              <select class="form-control" id="subjectsEdit" name="subject">
                <option disabled selected value>
                  -- select the subject to add --
                </option>
                <% subjects.forEach((item,index)=>{ %>
                <option value="<%-item.name%>" > <%-item.name%></option>
                <%}); %>
              </select>
              <!-- Scores -->
              <label for="scores">Scores:</label>
              <input
                type="number"
                class="form-control"
                placeholder="Enter Scores"
                step="0.1"
                max="10"
                min="0"
                id="scores"
                name="scores"
                required
              />
              <!-- Status -->
              <label for="status">Status:</label>
              <select class="form-control" id="statusEdit" name="status">
                <%  var status = ['Learning','Passed','Fail'] 
                    status.forEach((item,index)=>{ %> 
                      <option  value="<%-item%>" ><%-item%></option>

                <%});%>
              
              </select>
              <!-- Action for form -->
              <div
                class="row justify-content-center align-items-center"
                style="margin-top: 20px;"
              >
                <button type="submit" class="btn btn-primary col-3">
                  Submit
                </button>
                <a
                  style="margin-left: 20px; margin-right: 20px; color: white;"
                  class="btn btn-primary col-3"
                  id="btnDelete"
                >
                  Delete
                </a>
                <button
                  type="button"
                  class="btn btn-primary col-3"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(()=>{
        var transcript = <%-JSON.stringify(transcript)%> ;
        var student = <%-JSON.stringify(student)%>;
        var btnEdit = $(".btnEdit");
        var btnDelete = $("#btnDelete");
        var inputScores = $("#scores");
        var formEdit = $("#formEdit");
        var transcriptID,studentID,subjectID;
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = (e) => {
              $("#showImage").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#img").change(function () {
          readURL(this);
        });
        btnEdit.each(function(){
            $(this).click(function(){
              var index = $(this).attr("index");
              var subject = transcript[index];
              transcriptID = student.transcript;
              studentID = student._id;
              subjectID = subject._id;
              inputScores.val(subject.scores);
              $("#statusEdit option[value=" + subject.status +"]").prop("selected",true);
              $("#subjectsEdit option[value='" + subject.subject.name + "']").prop("selected",true);
              formEdit.attr(
                "action",
                "/admin/student/transcript/"+ transcriptID +"/"+ subjectID + "?studentID=" + studentID);
            })
        })
        btnDelete.click(function(){
          $(this).attr(
            "href",
            "/admin/student/transcript/"+ transcriptID +"/"+ subjectID + "?studentID=" + studentID);
        });
      });
    </script>

  </body>
</html>
