<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/icon.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include('../partials/nav_admin.ejs') %>
    <div class="container">
      <div class="row container">
        <!-- Title page -->
        <h2 class="text-primary">Student List</h2>
        <a href="/admin/student/add">
          <span
            class="badge badge-pill badge-primary"
            style="background-color: white;"
            ><i style="color: blue;" class="fas fa-plus"></i></span
        ></a>
      </div>
      <!-- Table list Students -->
      <table style="margin-top: 10px;" class="table table-bordered table-hover">
        <!-- Header table -->
        <thead class="thead-dark">
          <tr>
            <th>STT</th>
            <th>STUDENT ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <!-- Body table -->
        <tbody>
          <% data.forEach((item,index)=>{ %>
          <tr>
            <td><%-(index+1)%></td>
            <td><%-item._id%></td>
            <td><%-item.name%></td>
            <td><%-item.email%></td>
            <td>
              <a href="/admin/student/edit/<%-item._id%>"
                ><i style="color: red;" class="fas fa-edit"></i
              ></a>
            </td>
            <td>
              <a
                href="#modalDelete"
                data-toggle="modal"
                onclick="getStudent('<%-index%>')"
              >
                <i style="color: red;" class="fas fa-archive"></i
              ></a>
            </td>
          </tr>
          <%});%>
        </tbody>
      </table>
    </div>
    <!-- Modal delete Student -->
    <div class="modal" id="modalDelete">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-danger">DELETE STUDENT</h4>
            <br />
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <P
            style="text-align: center; margin-left: 10px; margin-right: 10px;"
            class="text-danger"
            id="studentName"
          ></P>
          <div
            style="margin-bottom: 10px;"
            class="row justify-content-center align-items-center"
          >
            <a
              style="margin-right: 10px;"
              id="deleteStudent"
              onclick="deleteStudent()"
              class="btn btn-danger col-3"
            >
              DELETE
            </a>
            <a type="button" class="btn btn-danger col-3" data-dismiss="modal">
              Close
            </a>
          </div>
        </div>
      </div>
    </div>
    <script>
      var data = <%-JSON.stringify(data)%>;
      var title = document.getElementById("studentName");
      var submitDelete = document.getElementById("deleteStudent");
      var student;
      function getStudent(index) {
        student = data[index];
        title.innerHTML = "Are you sure you want to delete student: '" +
        student.name + "' with email: " + student.email + " ? you can not recovery this student!";
      }
      function deleteStudent(){
        submitDelete.href = "/admin/student/delete/"+student._id;
      }
    </script>
  </body>
</html>
