<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/icon.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font: 16px Arial;
      }

      /*the container must be positioned relative:*/
      .autocomplete {
        position: relative;
        display: inline-block;
      }

      input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
      }

      input[type="text"] {
        background-color: #f1f1f1;
        width: 100%;
      }

      input[type="submit"] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
      }

      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }

      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
      }

      /*when hovering an item:*/
      .autocomplete-items div:hover {
        background-color: #e9e9e9;
      }

      /*when navigating through the items using the arrow keys:*/
      .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav_admin.ejs',{user:user}) %>
    <div class="container">
      <!-- Title -->
      <div class="row container">
        <!-- Title page -->
        <h2 class="text-primary">User List</h2>
        <a href="/admin/user/add">
          <span
            class="badge badge-pill badge-primary"
            style="background-color: white;"
            ><i style="color: blue;" class="fas fa-plus"></i></span
        ></a>
      </div>
      <!-- Nav tab -->
      <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#Student"
            >Student</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Lecturer">Lecturer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Notify">Notifications</a>
        </li>
      </ul>
      <div class="tab-content">
        <!-- Tab Student -->
        <div id="Student" class="container tab-pane active">
          <!-- Header Tab Student -->
          <div
            style="position: relative;"
            class="container row align-items-center"
          >
            <h2 class="text-primary">Student List</h2>
            <div style="position: absolute; right: 0px;">
              <a href="/admin/user/export?type=Student">Export</a>
              <a
                style="margin-left: 20px;"
                href="#modalImport"
                data-toggle="modal"
                >Import</a
              >
            </div>
          </div>
          <!-- Search -->
          <input
            class="form-control"
            id="searchStudent"
            type="text"
            placeholder="Search..."
          />
          <!-- Table list Students -->
          <table
            style="margin-top: 10px;"
            class="table table-bordered table-hover"
          >
            <!-- Header table -->
            <thead class="thead-dark">
              <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <!-- Body table -->
            <tbody id="tableStudent">
              <% studentList.forEach((item,index)=>{ %>
              <tr>
                <td><%-(index+1)%></td>
                <td><%-item._id%></td>
                <td><%-item.name%></td>
                <td><%-item.email%></td>
                <td>
                  <a href="/admin/user/edit/<%-item._id%>"
                    ><i style="color: red;" class="fas fa-edit"></i
                  ></a>
                </td>
                <td>
                  <a
                    href="#modalDelete"
                    data-toggle="modal"
                    onclick="getStudent('<%-index%>')"
                  >
                    <i style="color: red;" class="fas fa-archive"></i
                  ></a>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
        <!-- Tab Lecturer -->
        <div id="Lecturer" class="container tab-pane fade">
          <!-- Title Tab Lecturer -->
          <div
            style="position: relative;"
            class="container row align-items-center"
          >
            <h2 class="text-primary">Lecturer List</h2>
            <div style="position: absolute; right: 0px;">
              <a href="/admin/user/export?type=Lecturer">Export</a>
              <a
                style="margin-left: 20px;"
                href="#modalImport"
                data-toggle="modal"
                >Import
              </a>
            </div>
          </div>
          <!-- Search -->
          <input
            class="form-control"
            id="searchLecturer"
            type="text"
            placeholder="Search..."
          />
          <!-- Table list Students -->
          <table
            style="margin-top: 10px;"
            class="table table-bordered table-hover"
          >
            <!-- Header table -->
            <thead class="thead-dark">
              <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <!-- Body table -->
            <tbody id="tableLecturer">
              <% lecturerList.forEach((item,index)=>{ %>
              <tr>
                <td><%-(index+1)%></td>
                <td><%-item._id%></td>
                <td><%-item.name%></td>
                <td><%-item.email%></td>
                <td>
                  <a href="/admin/user/edit/<%-item._id%>"
                    ><i style="color: red;" class="fas fa-edit"></i
                  ></a>
                </td>
                <td>
                  <a
                    href="#modalDelete"
                    data-toggle="modal"
                    onclick="getLecturer('<%-index%>')"
                  >
                    <i style="color: red;" class="fas fa-archive"></i
                  ></a>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
        </div>
        <!-- Tab Notify -->
        <div id="Notify" class="container tab-pane fade">
          <!-- Title Tab Notify -->
          <h4 class="text-primary">Send Email</h4>
          <!-- Content tab notify -->
          <!-- Form send email -->
          <form
            action="/admin/user/sendEmail"
            id="formSendEmail"
            method="POST"
            enctype="multipart/form-data"
          >
            <!-- To -->
            <div class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">To:</legend>
                <div class="col-sm-10 row">
                  <div class="form-check col-3">
                    <input
                      class="form-check-input"
                      value="none"
                      type="radio"
                      name="to"
                      id="none"
                      checked
                    />
                    <label class="form-check-label" for="none">
                      None
                    </label>
                  </div>
                  <div class="form-check col-3">
                    <input
                      class="form-check-input"
                      value="all"
                      type="radio"
                      name="to"
                      id="all"
                    />
                    <label class="form-check-label" for="all">
                      All
                    </label>
                  </div>
                  <div class="form-check col-3">
                    <input
                      class="form-check-input"
                      value="lecturers"
                      type="radio"
                      name="to"
                      id="lecturers"
                    />
                    <label class="form-check-label" for="lecturers">
                      Lecturers
                    </label>
                  </div>
                  <div class="form-check col-3">
                    <input
                      class="form-check-input"
                      value="students"
                      type="radio"
                      name="to"
                      id="students"
                    />
                    <label class="form-check-label" for="students">
                      Students
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Search Email -->
            <div style="width: 100%;" class="form-group autocomplete">
              <label for="search">Search email:</label>
              <input
                class="form-control"
                placeholder="Enter emails to search"
                id="search"
              />
            </div>
            <!-- Hidden input email -->
            <input hidden name="email" />
            <!-- Show specific email list -->
            <div style="margin-top: 20px;" class="row container">
              <label for="search">Specific email:</label>
              <div id="showEmail" class="col-10 row align-items-center"></div>
            </div>
            <!-- File picker -->
            <div class="form-group">
              <input
                type="file"
                class="form-control-file"
                id="file"
                name="file"
              />
            </div>
            <!-- Title -->
            <div class="form-group">
              <label for="title">Title:</label>
              <textarea
                class="form-control"
                placeholder="Enter title"
                minlength="10"
                maxlength="250"
                name="title"
                rows="1"
                required
              ></textarea>
            </div>
            <!-- Content -->
            <div class="form-group">
              <label for="content">Content:</label>
              <textarea
                class="form-control"
                placeholder="Enter title"
                minlength="10"
                name="content"
                rows="5"
                required
              ></textarea>
            </div>
            <!-- Action for form -->
            <div class="d-flex justify-content-center">
              <button
                style="width: 200px;"
                type="submit"
                class="btn btn-primary mr-4"
              >
                Submit
              </button>
              <button
                style="width: 200px;"
                type="reset"
                id="clear"
                class="btn btn-primary ml-4"
              >
                Clear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal delete Student -->
    <div class="modal" id="modalDelete">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-danger">DELETE USER</h4>
            <br />
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <P
            style="text-align: center; margin-left: 10px; margin-right: 10px;"
            class="text-danger"
            id="studentName"
          ></P>
          <div
            style="margin-bottom: 10px;"
            class="row justify-content-center align-items-center"
          >
            <a
              style="margin-right: 10px;"
              id="deleteStudent"
              onclick="deleteStudent()"
              class="btn btn-danger col-3"
            >
              DELETE
            </a>
            <a type="button" class="btn btn-danger col-3" data-dismiss="modal">
              Close
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Model select file to import -->
    <div class="modal" id="modalImport">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-primary">SELECT FILE TO IMPORT</h4>
            <br />
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form
              action="/admin/user/import"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <input
                  type="file"
                  class="form-control-file"
                  name="file"
                  accept=".csv"
                  required
                />
              </div>
              <div
                style="margin-top: 10px; margin-bottom: 10px;"
                class="row justify-content-center align-items-center"
              >
                <button
                  style="margin-right: 10px; color: white;"
                  class="btn btn-primary col-3"
                  type="submit"
                >
                  SUBMIT
                </button>
                <button
                  style="margin-right: 10px; color: white;"
                  type="button"
                  class="btn btn-primary col-3"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(()=>{
        var studentList = <%-JSON.stringify(studentList)%>;
      var emailList = <%-JSON.stringify(emailList)%>;
      var lecturerList = <%-JSON.stringify(lecturerList)%>;
      var searchStudent = $('#searchStudent');
      var searchLecturer = $('#searchLecturer');
      var tableStudent = $('#tableStudent tr');
      var tableLecturer = $('#tableLecturer tr');
      var showEmail = $("#showEmail");
      var inputEmail = $("input[name=email]");
      var formSendEmail = $("#formSendEmail");

      var title = document.getElementById("studentName");
      var submitDelete = document.getElementById("deleteStudent");
      var user;
      var setEmail = new Set;
      searchStudent.on("keyup", function() {
          var value = $(this).val().toLowerCase();
          tableStudent.filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      searchLecturer.on("keyup", function() {
          var value = $(this).val().toLowerCase();
          tableLecturer.filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      function getStudent(index) {
        user = studentList[index];
        console.log(user);
        title.innerHTML = "Are you sure you want to delete student: '" +
        user.name + "' with email: " + user.email + " ? you can not recovery this student!";
      }
      function getLecturer(index) {
        user = lecturerList[index];
        console.log(user);
        title.innerHTML = "Are you sure you want to delete lecturer: '" +
        user.name + "' with email: " + user.email + " ? you can not recovery this lecturer!";
      }
      function deleteStudent(){
        submitDelete.href = "/admin/user/delete/"+user._id;
      }
      /*-----Auto complete-----*/
      function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
              /*check if the item starts with the same letters as the text field value:*/
              if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
              }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
              /*If the arrow DOWN key is pressed,
              increase the currentFocus variable:*/
              currentFocus++;
              /*and and make the current item more visible:*/
              addActive(x);
            } else if (e.keyCode == 38) { //up
              /*If the arrow UP key is pressed,
              decrease the currentFocus variable:*/
              currentFocus--;
              /*and and make the current item more visible:*/
              addActive(x);
            } else if (e.keyCode == 13) {
              /*If the ENTER key is pressed, prevent the form from being submitted,*/
              e.preventDefault();
              if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
              }
            }
        });
        function addActive(x) {
          /*a function to classify an item as "active":*/
          if (!x) return false;
          /*start by removing the "active" class on all items:*/
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /*add class "autocomplete-active":*/
          x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
          /*a function to remove the "active" class from all autocomplete items:*/
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
          }
        }
        function closeAllLists(elmnt) {
          /*close all autocomplete lists in the document,
          except the one passed as an argument:*/
          var x = document.getElementsByClassName("autocomplete-items");
          for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
            var value= $("#search").val();
            $("#search").val("");
            if(value != ""){
              showEmail.empty();
              setEmail.add(value);
              inputEmail.val(Array.from(setEmail));
        //   show email for user
              setEmail.forEach((item) => {
              showEmail.append(
            " <h6 style='cursor: pointer;'' href='#' class='text-primary col-4 emailSelected'>" +
              item +
              "</h6>"
          );
        });
            }
        });
      }

      //   Remove email when click
      $(document).on("click", ".emailSelected", function () {
        setEmail.delete($(this).text());
        showEmail.empty();
        inputEmail.val(Array.from(setEmail));
        setEmail.forEach((item) => {
          showEmail.append(
            " <h6 style='cursor: pointer;'  href='#' class='text-primary col-4 emailSelected'>" +
              item +
              "</h6>"
          );
        });
      });

      autocomplete(document.getElementById("search"), emailList);
      /*-----Auto complete-----*/
      /*-----Submit form------*/
      formSendEmail.on("submit",()=>{
        var radioValue = $("input[name='to']:checked").val();
        if(radioValue == "none" &&  inputEmail.val()==""){
         alert("Choose at least 1 email address to send email")
          return false;
        }
        return true;

      })
      });
    </script>
  </body>
</html>
